:root {
  --clr-bg: #faf7f2;
  --clr-text: #2a2a2a;
  --clr-accent: #b23a48;
  --clr-accent-light: #e85a70;
  --clr-accent-dark: #7a1c28;
  --clr-gold: #cfae6d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--clr-bg);
  color: var(--clr-text);
  line-height: 1.6;
}

header {
  background-color: var(--clr-accent);
  padding: 1rem 2rem;
  height:10vh;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header nav button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

header nav button:hover {
  color: var(--clr-accent-light);
  transform: scale(1.05);
}
